
<!DOCTYPE html>
<html lang="cat">
<head>
	<title>Proves</title>
	<meta charset="utf-8">

	<!-- Bulma + Fontawesome, jQuery -->

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

	<!--  -->

	<script type="text/javascript" src="js/validation.js"></script>
	<script type="text/javascript" src="js/prova.js"></script>
	<link rel="stylesheet" type="text/css" href="css/prova.css">
	
</head>
<body>
	<header>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<!-- navbar items, navbar burger... -->
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" id="home">
						Inici
					</a>
					<a class="navbar-item">
						Llistar Enquestes
					</a>
					<a class="navbar-item" id="resultats">
						Resultats
					</a>
				</div>

				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<i class="fas fa-user"></i>
						</a>

						<div class="navbar-dropdown is-boxed">
							<form id="login" method="post" action="php/prova.php">
								<label class="label">Login d'usuari</label>
								<hr class="navbar-divider">

								<!-- Input Email -->

								<div class="field">
									<div class="control has-icons-left has-icons-right">
										<input class="input" name="username" type="email" placeholder="Email">
										<span class="icon is-small is-left">
											<i class="fas fa-envelope"></i>
										</span>
										<span class="icon is-small is-right">
											<i class="fas fa-check validation success"></i>
											<i class="fas fa-exclamation-triangle validation error"></i>
										</span>
									</div>
									<p class="help is-danger validation error">This email is invalid</p>
								</div>

								<!-- Input Password -->

								<div class="field">
									<div class="control has-icons-left has-icons-right">
										<input class="input" name="password" type="password" placeholder="Password">
										<span class="icon is-small is-left">
											<i class="fas fa-lock"></i>
										</span>
										<span class="icon is-small is-right">
											<i class="fas fa-exclamation-triangle validation password-error"></i>
										</span>
									</div>
									<p class="help is-danger validation password-error">Enter a password</p>
								</div>
								<div class="field is-grouped">
									<div class="control">
										<input type="submit" class="button is-link" value="Sign In" disabled></input>
									</div>
									<div class="control">
										<button class="button">Sign Up</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<div id="body">
		<section class="section">
			<div class="container">
				<div class="card-container">
					<div class="card">
						<div class="card-image">
						<figure>
							<canvas id="myChart" width="400" height="400"></canvas>
						</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-left">
									<span class="icon fave">
										<!--<i class="far fa-star"></i>-->
									</span>
								</div>
								<div class="media-content">
									<p class="title is-4" id="{{ id }}">{{ id }}</p>
									<p class="subtitle is-6">{{ start }} - {{ end }}</p>
								</div>
							</div>
							<div class="content">
								<span class="has-text-weight-bold">Pregunta: </span>{{ title }}
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-image">
						<figure class="image is-4by3">
							<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
						</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-left">
									<span class="icon not-fave">
										<!--<i class="far fa-star"></i>-->
									</span>
								</div>
								<div class="media-content">
									<p class="title is-4">{{ id }}</p>
									<p class="subtitle is-6">{{ start }} - {{ end }}</p>
								</div>
							</div>
							<div class="content">
								<span class="has-text-weight-bold">Pregunta: </span>{{ title }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					&#9400; 2018 Enquestes JxJ
				</p>
			</div>
		</div>
	</footer>
</body>
</html>