{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Enquestes{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <!--<img src="/img/polljtwox.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="128">
                </a>-->



                <div class="navbar-burger" data-target="mainMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="mainMenu">
                <div class="navbar-end">
                    <a href="/admin/selectAllProducts" class="navbar-item">
                        Llistar enquestes
                    </a>
                    <a href="/admin/insertProduct" class="navbar-item">
                        Afegir enquestes
                    </a>
                    
                    </a>
                    <a href="/admin/updateProduct" class="navbar-item">
                        Modificar enquestes
                    </a>
                    <a href="/admin/removeProduct" class="navbar-item">
                        Esborrar enquestes
                    </a>
                </div>
            </div>
        </nav>
    </header>
       <!-- <h3>Customer Management</h3>
        <div id="upperbar2">
            {% block upperbar2 %}
                <a href="/selectAllCustomers">List</a>
                <a href="/insertCustomer">Insert</a>
                <a href="/selectCustomer">Select</a>
                <a href="/updateCustomer">Update</a>
                <a href="/removeCustomer">Remove</a>
                <br> <hr> <br>
            {% endblock %}
        </div>-->
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {

                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
        {% block scripts %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/js.js') }}" type="text/javascript"></script>
{% endblock %}
    </body>
</html>

