<div class="card-image">
	<figure>
		<canvas width="400" height="400"></canvas>
	</figure>
</div>
<div class="card-content">
	<div class="media">
		<div class="media-left">
			<span class="icon {{ icon }}">
			</span>
		</div>
		<div class="media-content">
			<p class="title is-4">{{ id }}</p>
			<p class="subtitle is-6">{{ start }} - {{ end }}</p>
		</div>
	</div>
	<div class="content">
		<span class="has-text-weight-bold">Pregunta: </span>{{ title }}
	</div>
	
	<div class="field answers">
		<input type="radio" name="answer" value="1">Sí
		<input type="radio" name="answer" value="0">No
	</div>
	<button class="vote button is-primary is-outlined is-large">Votar</button>
</div>