{# app/Resources/views/customer/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Customer List </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
    </tr>
    {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.address }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
