{# app/Resources/views/product/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="card-container">
        {% for product in products %}
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <span class="icon">
                    {% if product.destacada == 1 %}
                        <i class="fas fa-star"></i>
                    {% else %}
                        <i class="far fa-star"></i>
                    {% endif %}
                        </span>

                    </div>
                    <div class="media-content">
                        <p class="title is-4">ID: {{ product.id }}</p>
                        <p class="subtitle is-6">{{ product.dataInici|date('Y-m-d') }} - {{ product.dataFinal|date('Y-m-d') }}</p>

                    </div>
                </div>

                <div class="content">
                    <p><span class="has-text-weight-bold">Pregunta: </span>{{ product.pregunta }}</p>

<p>Vots si:<span class="resultatsi"></span>
		<div class="votssi">

		{% for enquesta in info %}
				
				{%if product.id == enquesta.idEnquesta%}
				    {%if enquesta.valor == true%}
<span>
						{{0}}
</span>
					{%endif%}
				{%endif%}
				
		{% endfor %} 

		</div>
		
</p>


<p>Vots no: <span class="resultatno"></span>
		<div class="votsno">

		{% for enquesta in info %}
				
				{%if product.id == enquesta.idEnquesta%}
				    {%if enquesta.valor == false%}
					<span>
						{{0}}
					</span>
					{%endif%}
				{%endif%}

				
		{% endfor %} 

		</div>
		
</p>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
{% block stylesheets %}
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            margin: 1rem;
            width: 30%;
        }
        .media-content {
            overflow: hidden;
        }
    </style>
{# Add javascript into end of the document (before any other javascript in the footer). #}
{% block bodys %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/js.js') }}" type="text/javascript"></script>
{% endblock %}
{% endblock %}
{% endblock %}
