<div class="card-image">
	<figure class="image is-4by3">
		<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	</figure>
</div>
<div class="card-content">
	<div class="media">
		<div class="media-left">
			<span class="icon fave">
				<!--<i class="far fa-star"></i>-->
			</span>
		</div>
		<div class="media-content">
			<p class="title is-4">{{ id }}</p>
			<p class="subtitle is-6">{{ start }} - {{ end }}</p>
		</div>
	</div>
	<div class="content">
		<span class="has-text-weight-bold">Pregunta: </span>{{ title }}
	</div>
</div>