{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <form action="" method="POST">
            <label for="">
                Nom d'usuari
                <input type="text" name="username" placeholder="Introdueix el teu nom d'usuari">
            </label>
            <label for="">
                Contrassenya
                <input type="password" name="password" placeholder="Introdueix la teva contrassenya">
            </label>
        </form>
    </div>
{%  endblock %}


{% block javascripts %}
    <script>

    </script>
{% endblock %}