form {
	padding: 0 10px;
}

div.navbar-dropdown {
	margin-left: -15rem;
}

.validation {
	display: none;
}
.card-container {
	display: flex;
	justify-content: space-around;
}
.card {
	width: 30%;
}

.media-content {
	overflow: hidden;
}

.fave {
	width: 70px;
	height: 50px;
	background: url(../img/destacada.png) no-repeat;
	background-position: -3519px 0;
}
.not-fave {
	width: 70px;
	height: 50px;
	background: url(../img/destacada.png) no-repeat;
	background-position: 0 0;
}

.togglefave {
	transition: background 0.5s steps(55);
}

.current-nav {
	color: #3273dc;
	text-decoration: underline;
}