form {
	padding: 0 10px;
}

div.navbar-dropdown {
	margin-left: -15rem;
}

.validation {
	display: none;
}
.card-container {
	display: flex;
	justify-content: space-around;
}
.card {
	width: 30%;
}

.media-content {
	overflow: hidden;
}

.fave {
  width: 70px;
  height: 50px;
  background: url(../img/destacada.png) no-repeat;
  background-position: 0 0;
}
.fave:hover {
  background-position: -3519px 0;
  transition: background 1s steps(55);
}