{% extends 'base.html.twig' %}

{% block body %}

<div id="main">
    <form id="login" class="logres">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input type="email" name="email" placeholder="Introdueix el teu correu electrònic">
            </div>
        </div>
        <div class="field">
            <label class="label">Contrassenya</label>
            <div class="control">
                <input type="password" name="password" placeholder="Introdueix la teva contrassenya">
            </div>
        </div>
        <input type="submit" class="button is-large" value="Iniciar sessió">
    </form>
    <button id="session" class="button is-small">Check session</button>
    <button id="logout" class="button is-small">Log out</button>
    <button id="checkLogin" class="button is-small">Am i logged?</button>
    <form id="register" class="logres">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input type="email" name="email" placeholder="Introdueix el teu correu electrònic">
            </div>
        </div>
        <div class="field">
            <label class="label">Nom d'usuari</label>
            <div class="control">
                <input type="text" name="username" placeholder="Introdueix el teu nom d'usuari">
            </div>
        </div>
        <div class="field">
            <label class="label">Contrassenya</label>
            <div class="control">
                <input type="password" name="password" placeholder="Introdueix la teva contrassenya">
            </div>
        </div>
        <input type="submit" class="button is-large" value="Registra't">
    </form>

    <div class="card-container">
            <div class="card poll" id="poll-1">
                <div class="card-image">
                    <canvas id="chart-1" width="400" height="400"></canvas>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <span class="icon">
                            <i class="fas fa-star"></i>
                        </span>

                        </div>
                        <div class="media-content">
                            <p class="title is-4">ID: 1</p>
                            <p class="subtitle is-6"> 2018/03/22 - 2018/03/31</p>
                        </div>
                    </div>

                    <div class="content">
                        <span class="has-text-weight-bold">Pregunta: Va a funcionar esto?</span>
                        <br>
                        <div class="field answers">
                            <input type="radio" name="answer" value="1">Sí
                            <input type="radio" name="answer" value="0">No
                        </div>
                        <button class="vote button is-primary is-outlined is-large">Votar</button>
                    </div>
                </div>
            </div>
    </div>


</div>

{% endblock %}

{% block stylesheets %}
<style>

    .logres {
        display: none;
    }

    .card .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .card .content .button {
        width: 100%;
    }

    #main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }



</style>
{% endblock %}

{% block scripts %}

    <script>

        let user_id = null;

        window.onload = function () {

            checkSession();

            setTimeout(function (e) {
                if (user_id == null) {
                    let logres = document.querySelectorAll('.logres');
                    logres.forEach(function (form) {
                        form.style.display = 'block';
                    })
                }
            }, 100);

            function getPolls() {
                let payload = {
                    uid: user_id
                };

                let data = new FormData();
                data.append( "json", JSON.stringify( payload ) );
                fetch("/utils/getpolls.php",
                    {
                        method: "POST",
                        body: data,
                        credentials: "same-origin"
                    })
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);
                    })
            }


            const POLLS = document.querySelectorAll('.poll');
            POLLS.forEach(function (poll) {
                let pid = poll.id.slice(-1);
                let value = null;
                poll.querySelectorAll('.answers input').forEach(function (answer) {
                    answer.addEventListener('click', function (e) {
                        value = e.target.value;
                        console.log(value);
                    })
                });
                poll.querySelector('.vote').addEventListener('click', function (e) {
                    if (value!= null) {
                        vote(pid, value, poll);
                    } else {
                        alert('no has seleccionado ninguna opción')
                    }
                });

            });

            function vote(pid, value, pollNode) {
                let payload = {
                    uid: user_id,
                    pid: pid,
                    value: value
                };

                let data = new FormData();
                data.append( "json", JSON.stringify( payload ) );
                let voteButton = pollNode.querySelector('.vote');
                voteButton.classList.add('is-loading');
                fetch("/utils/vota.php",
                    {
                        method: "POST",
                        body: data,
                        credentials: "same-origin"
                    })
                    .then(res => res.json())
                    .then(data => {
                        voteButton.classList.remove('is-loading');
                        console.log(data);
                        if (data) {
                            voteButton.setAttribute('disabled', 'true');
                            voteButton.textContent = 'Gràcies per votar!'
                        } else {
                            voteButton.classList.add('is-danger');
                            voteButton.setAttribute('disabled', 'true');
                            voteButton.textContent = 'Ja has votat!'

                        }
                    })

            }

            const LOGIN = document.querySelector('#login');
            LOGIN.classList.add('animated');
            LOGIN.addEventListener('submit', function (e) {
                e.preventDefault();
                let email = LOGIN.querySelector('input[name="email"]').value;
                let pass = LOGIN.querySelector('input[name="password"]').value;
                logIn(email, pass);
            });

            const REGISTER = document.querySelector('#register');
            REGISTER.classList.add('animated');

            REGISTER.addEventListener('submit', function (e) {
                e.preventDefault();
                let email = REGISTER.querySelector('input[name="email"]').value;
                let username = REGISTER.querySelector('input[name="username"]').value;
                let pass = REGISTER.querySelector('input[name="password"]').value;
                register(email, username, pass);
            });

            function register(email, username, password) {
                let payload = {
                    email: email,
                    username: username,
                    password: password
                };

                let data = new FormData();
                data.append( "json", JSON.stringify( payload ) );

                fetch("/utils/register.php",
                    {
                        method: "POST",
                        body: data,
                        credentials: "same-origin"
                    })
                    .then(res => res.json())
                    .then(data => console.log(data))
            }

            const SESSION = document.querySelector('#session');

            SESSION.addEventListener('click', function (e) {
               checkSession();
            });

            const LOGOUT = document.querySelector('#logout');

            LOGOUT.addEventListener('click', function (e) {
                logOut();
                checkSession();
            });

            const CHECK = document.querySelector('#checkLogin');

            CHECK.addEventListener('click', function (e) {
                console.log(checkLogin());
            });

            function checkLogin() {
                if (user_id != null) {
                    return true;
                }
                return false;
            }

            function logOut() {
                fetch('/utils/logout.php', {
                    credentials: "same-origin"
                })
                    .then(data => data.json())
                    .then(res => {
                        console.log(res);
                        LOGIN.style.display = 'block';
                        LOGIN.classList.remove('fadeOut');
                        LOGIN.classList.add('fadeIn');
                        REGISTER.style.display = 'block';
                        REGISTER.classList.remove('fadeOut');
                        REGISTER.classList.add('fadeIn');

                    })
            }

            function checkSession() {
                fetch('/utils/session.php', {
                    credentials: "same-origin"
                })
                    .then(data => data.json())
                    .then(res => {
                        console.log(res);
                        user_id = res.id;
                        getPolls();
                    })
            }

            function logIn(email, password) {
                let payload = {
                    email: email,
                    password: password
                };

                let data = new FormData();
                data.append( "json", JSON.stringify( payload ) );

                fetch("/utils/validar_login.php",
                    {
                        method: "POST",
                        body: data,
                        credentials: "same-origin"
                    })
                    .then(function(res){ return res.json(); })
                    .then(function(data){
                        console.log(data);
                        let message = document.createElement('div');
                        message.setAttribute('id', 'loginMessage');
                        message.classList.add('help');
                        let messageText = '';

                        if (data.status == 'ok'){
                            messageText = document.createTextNode(`T'has loguejat correctament!`);
                            message.classList.add('is-success');

                            if (data.data.admin == 1) {
                                location.href = "/admin/selectAllProducts";
                            }
                            setTimeout(function (e) {
                                LOGIN.classList.add('fadeOut');
                                REGISTER.classList.add('fadeOut');
                                setTimeout(function (ee) {
                                    LOGIN.style.display = 'none';
                                    REGISTER.style.display = 'none'
                                }, 1000)
                            }, 1000)

                        } else {
                            messageText = document.createTextNode(`El correu o contrassenya no són vàlids!`);
                            message.classList.add('is-danger');
                        }
                        message.appendChild(messageText);
                        LOGIN.appendChild(message);
                        message.classList.add('animated');
                        setTimeout(function (time) {
                            message.classList.add('fadeOut');
                            setTimeout(function (tt) {
                                LOGIN.removeChild(message);
                            }, 1000)
                        }, 2500);

                    });
                checkSession();
            }
        };



    </script>

{% endblock %}
