{# app/Resources/views/default/message.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    {{ message }}<br>
<a href="{{app.request.headers.get('referer')}}"><button> Enrere </button></a>
<a href="{{ url('homepage') }}"><button> Inici </button></a>
{% endblock %}





