{# app/Resources/views/product/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="card-container">
        {% for product in products %}
        <div class="card">
            <div class="card-image">
                <canvas id="chart-{{ product.id }}" width="400" height="400"></canvas>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <span class="icon">
                    {% if product.destacada == 1 %}
                        <i class="fas fa-star"></i>
                    {% else %}
                        <i class="far fa-star"></i>
                    {% endif %}
                        </span>

                    </div>
                    <div class="media-content">
                        <p class="title is-4">ID: {{ product.id }}</p>
                        <p class="subtitle is-6">{{ product.dataInici|date('Y-m-d') }} - {{ product.dataFinal|date('Y-m-d') }}</p>
                    </div>
                </div>

                <div class="content">
                    <span class="has-text-weight-bold">Pregunta: </span>{{ product.pregunta }}
                    <a class="control" href="/admin/editProduct/{{ product.id }}"><i class="fas fa-edit"></i></a>
                    <a class="control" href="/admin/deleteProduct/{{ product.id }}"><i class="fas fa-trash-alt"></i></a>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
{% block stylesheets %}
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            margin: 1rem;
            width: 30%;
        }
        .media-content {
            overflow: hidden;
        }
        .control {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
        .control:nth-of-type(even) {
            right: 3rem !important;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        const polls = document.querySelectorAll('.card');
        polls.forEach(function (el) {
            let id = el.querySelector('canvas').id;
            let ctx = document.getElementById(id).getContext('2d');
            let myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Sí", "No"],
                    datasets: [{
                        label: '# of Votes',
                        data: [583, 95],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: false
                        }],
                        yAxes: [{
                            ticks: {
                                display: false
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                }
            });
        });


    </script>
{% endblock %}
